@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Overpass', sans-serif;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 430px;
  background-color: hsl(213, 19%, 18%);
  color: white;
  border-radius: 10px;
  padding: 30px;
}

.container .content {
  padding: 30px;
}

p {
  color: hsl(216, 12%, 54%);
  margin-top: 10px;
}

.submit,
.reset {
  text-transform: uppercase;
  width: 100%;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin-top: 30px;
  transition: background-color 0.5s ease-in;
}

.reset {
  display: none;
}

.submit:hover,
.reset:hover {
  background-color: hsl(25, 97%, 30%);
}

button {
  cursor: pointer;
}

.btn,
img {
  border: none;
  border-radius: 50%;
  background-color: hsl(216, 12%, 15%);
  color: hsl(216, 12%, 54%);
  padding: 20px;
  margin: 0 10px;
  font-size: 15px;
  transition: background-color 0.2s ease-in;
}

.buttons .btn:hover {
  background-color: hsl(216, 12%, 54%);
  color: #333;
}

#result {
  text-align: center;
  margin-top: 20px;
}
